@{
    ViewData["Title"] = "Admin";
}
<head>
    <link rel="stylesheet" href="~/css/Admin.css" asp-append-version="true" />
</head>

<div id="viewerModalBack" onclick="closeModals()">

</div>

<div id="viewerModal">
    <div id="modaltitles">
        <div id="modalContentTitle"></div>
        <div id="editMode">EDIT MODE</div>
    </div>
    <textarea id="modalContentArea"></textarea>
    <div id="modalContentInputs">
        <input type="text"
               class="inputBox inputBox-small"
               placeholder="Author Name"
               id="authorNameEdit"
               name="authorNameEdit" />
    </div>
    <div id="modalContentEdit" onclick="editPost()">Edit Post</div>
    <div id="modalContentSave">Save Post</div>
</div>
<div id="bodyContent">
    <div id="menu_panel">
        <div id="menu_header" class="menu-section">
            <div id="menu_header-title">Control<br />Panel</div>
            <div id="menu_header-exit">
                <div id="exitImg">
                    <img src="Content/Images/logout.png" id="exitImg-overlay"/>
                </div>
            </div>
        </div>
        <div class="menu-section" onclick="changePage('BlogInfo')">Blog Info</div>
        <div class="menu-section" onclick="changePage('ManageCat')">Manage Categories</div>
        <div class="menu-section" onclick="changePage('CreatePosts')">Create Posts</div>
        <div class="menu-section" onclick="changePage('ManagePosts')">Manage Posts</div>
        <div class="menu-section" onclick="changePage('Styling')">Styling</div>
    </div>
    <div class="contentArea">
    <div class="content" id="content-BlogInfo">
        
            <div id="content-header">Blog Info</div>
            <form id="titlesForm"
                  class="sectionContent"
                  onsubmit="return false;"
                  autocomplete="off">
                <input type="text"
                       class="inputBox"
                       placeholder="Header Title"
                       id="headerName"
                       name="headerName" />
                <input type="text"
                       class="inputBox"
                       placeholder="Sub Title"
                       id="subHeaderName"
                       name="subHeaderName" />
                <input type="submit"
                       id="submitAllInfo"
                       value="Submit All"
                       class="submit"
                       onclick="updateBlogTitle()" />
            </form>
        </div>
        <div class="content" id="content-ManageCat">
            <div id="content-header">Manage Categories</div>

            <input type="text"
                   class="inputBox"
                   placeholder="Category Name"
                   id="addCat" />
            <div id="addCatSubmit" class="submit" onclick="createCategory()">Add</div>
            <select id="binCatList"
                    name="catList"
                    class="inputBox catLists"
                    placeholder="Categories"></select>
            <div id="hideCatSubmit" class="submit" onclick="binCategory()">Bin</div>
            <select id="catListBinned"
                    name="catList"
                    class="inputBox"
                    placeholder="Categories"></select>
            <div id="btnManager">
                <div id="recoverCatSubmit" class="submit" onclick="recoverCategory()">
                    Recover
                </div>
                <div id="removeCatSubmit" class="submit" onclick="deleteCategory()">
                    Delete
                </div>
            </div>
        </div>
        <div class="content" id="content-CreatePosts">
            <div id="content-header">Create Posts</div>
            <form class="sectionContent"
                  id="postContent"
                  onsubmit="return false;"
                  autocomplete="off">
                <input type="text"
                       class="inputBox"
                       name="postTitle"
                       id="postTitle"
                       placeholder="Post Title" />
                <input type="text"
                       class="inputBox"
                       name="authorName"
                       id="authorName"
                       placeholder="Author Name" />
                <select id="catList"
                        name="catList"
                        class="inputBox catLists"
                        placeholder="Categories"></select>
                <label id="inputImg" class="inputBox">
                    <input type="file" id="file" accept="image/*" />
                    Select An Image
                </label>
                <textarea id="createPost"
                          placeholder="Share Your Thoughts.."
                          name="postContent"></textarea>
        
                <button id="submitPost" class="submit" onclick="generatePost()">
                    Submit Post
                </button>
            </form>
        </div>
        <div class="content" id="content-ManagePosts">
            <div id="content-header">Manage Posts</div>
            <div class="postInfo">
                <select id="catListPosts"
                        name="catList"
                        class="inputBox"
                        placeholder="Categories"
                        onchange="viewPosts()">
                    <option value="All">All</option>
                </select>
            </div>
            <div id="listPosts">
                <div id="postContainer">
                    <div class="itemBox">
                        <p class="itemBoxTitle">Post title Here</p>

                        <div class="itemBoxContainer">
                            <div class="itemBoxView itemBoxBtn" onclick="viewContentModal()">
                                View
                            </div>
                            <div class="itemBoxDelete itemBoxBtn" onclick="deleteContentModal()">
                                Delete
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        </div>
        <!-- <div id="contentPanel_Menu">
              <div class="menu_item">Blog Information</div>
              <div class="menu_item">Categories</div>
              <div class="menu_item">Create Post</div>
              <div class="menu_item">Manage Posts</div>
              <div class="menu_item">Colour Palette</div>
            </div>
            <div id="contentPanel_Data">a</div> -->




        <script src="~/js/Admin.js" asp-append-version="true"></script>
