@{
    ViewData["Title"] = "Home Page";
}
<head>
    <link rel="stylesheet" href="~/css/Index.css" asp-append-version="true" />
</head>
<script src="~/js/Index.js" asp-append-version="true"></script>
<div id="content">
        <header id="header">
            <div id="header_main">
                <div id="header_main-header" class="header_text"></div>
                <div id="header_main-sub" class="header_text">
                    
                </div>
                <a href="/admin" id="login_btn">Login</a>
                <div id="header_main-line"></div>
            </div>
        </header>
        <div id="menu_section">
            <div id="menu_all">
                <div id="menu_all_btn" class="menu_item" onclick="showItem('All')">All</div>
            </div>
            <div id="menu_categories">
                @*<div class="menu_item">Politics</div>
            <div class="menu_item">Plans</div>
            <div class="menu_item">Programming</div>
            <div class="menu_item">Food</div>*@
            </div>
        </div>
        <div id="blog_dash"></div>
</div>