/* --space-cadet: #2d3142ff;
--black-coral: #4f5d75ff;
--silver: #bfc0c0ff;
--white: #ffffffff;
--mandarin: #ef8354ff; */

@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&family=Raleway:ital,wght@0,100;0,200;0,300;0,600;0,700;1,300;1,600;1,700&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

#bodyContent {
    display: flex;
}

.contentArea {
    width: 100%;
    max-height: 100vh;
    overflow: hidden;
}

.content {
    background-color: whitesmoke;
    width: 100vw;
    height: 100vh;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
}

#menu_panel {
    width: 20%;
    height: 100vh;
    background-color: #4f5d75ff;
}

#menu_header {
    display: flex;
    height: 10%;
    color: silver;
}

    #menu_header:hover {
        background-color: #4f5d75ff;
    }

#menu_header-title {
    width: 80%;
    font-family: Raleway;
    font-weight: 700;
    font-size: 2rem;
    display: flex;
    align-items: center;
    text-transform: capitalize;
    cursor: default;
}

#menu_header-exit {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#exitImg {
    
}

#exitImg-overlay {
    background-size: cover;
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.menu-section {
    padding: 10px;
    height: 10%;
    border-bottom: 0.5px solid silver;
    font-family: Raleway;
    font-weight: 700;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    color: silver;
    cursor: pointer;
}

    .menu-section:hover {
        background-color: #2d3142ff;
    }


#content-header {
    height: 10%;
    font-size: 2rem;
    font-family: Raleway;
    font-weight: 700;
    display: flex;
    align-items: center;
    color: #4f5d75ff;
}

form {
    display: flex;
    flex-direction: column;
}

#nameBox {
    width: 50%;
    display: flex;
    justify-content: space-between;
}

/*    #nameBox > .inputBox {
        width: calc(50% - 10px);
    }
*/
.inputArea {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    width: 50%;
    margin-right: 3%;
}

.inputBox {
    border: 2px solid #4f5d75ff;
    background-color: rgba(0, 0, 0, 0);
    color: #2d3142ff;
    text-transform: uppercase;
    width: 35%;
    height: 75px;
    font-family: Raleway;
    font-weight: 500;
    font-size: 1.7rem;
    border-radius: 2px;
    margin: 10px 0;
    padding: 5px;
}

.inputBox-small {
    width: 40%;
    height: 50px;
    margin: 10px 10px 10px 0;
    border: 0;
}

.submit {
    color: ivory;
    background-color: #4f5d75ff;
    font-size: 1.4em;
    text-transform: uppercase;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 2.5px;
    align-self: flex-start;
    border: 0;
    display: inline-block;
}

    .submit:hover {
        background-color: #2d3142ff;
    }

.catListPlaceholder {
    font-weight: 900px;
}

* blog info * #submitArea {
    display: flex;
    flex-direction: row;
    width: 50%;
    align-items: center;
    justify-content: space-between;
}

#addCat {
    width: 35%;
}

.colorPicker {
    width: 15%;
    border: 2px solid rgb(11, 7, 7);
    padding: 0;
    margin: 2% 0;
    cursor: pointer;
    width: 15%;
    height: 40px;
}

    .colorPicker::-webkit-color-swatch {
        border: none;
    }

/** post section **/

#postContent {
    display: flex;
    flex-direction: column;
}

.postInfo {
    width: 30%;
    max-width: 30%;
    min-width: 30%;
}

.inputAreaPost {
    display: flex;
    flex-direction: column;
}

#postBox {
    width: 70%;
    margin-left: 3%;
}

#formatter {
    display: flex;
    flex-direction: row;
    align-items: center;
}

textarea {
    resize: vertical;
}

.formatBtn {
    background-color: rgb(11, 7, 7);
    color: ivory;
    padding: 2px;
    margin: 2px;
    cursor: pointer;
}

#createPost {
    border: 2px solid #2d3142ff;
    width: 100%;
    min-width: 45%;
    max-width: 45%;
    height: 300px;
    background-color: rgba(255, 255, 240, 0);
    padding: 10px;
    margin: 10px 0;
    color: #2d3142ff;
}

textarea {
    font-size: 20px;
}

input[type="file"] {
    display: none;
}

#inputImg {
    cursor: pointer;
    margin: 10px 0;
    color: grey;
    display: flex;
    align-items: center;
    width: 20%;
}

/** Manage Posts **/

#listPosts {
    width: 50%;
}

#postContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#btnManager {
    align-self: flex-start;
    display: flex;
    flex-direction: row;
}

    #btnManager > * {
        margin-right: 5px;
    }

/* Item Boxes */

.itemBox {
    background-color: #4f5d75ff;
    margin-right: 5px;
    margin-bottom: 5px;
    width: calc(100% / 3 - 10px);
    border-radius: 3px;
    text-align: center;
    padding: 15px;
    display: flex;
    flex-direction: column;
}

.itemBoxTitle {
    color: ivory;
    text-transform: uppercase;
    margin: 5px;
}

.itemBoxContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

.itemBoxBtn {
    background-color: rgba(45, 49, 66, 0.2);
}

    .itemBoxBtn:hover {
        background-color: rgba(45, 49, 66, 0.6);
    }

.itemBoxView,
.itemBoxDelete {
    color: ivory;
    border: 1px solid ivory;
    width: 40%;
    cursor: pointer;
    margin: 5px;
}

#viewerModalBack {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    cursor: pointer;
    top: 0;
    left: 0;
    z-index: 1;
    display: none;
}

#viewerModal {
    width: 50%;
    background-color: white;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    z-index: 2;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.196);
    padding: 20px;
    display: none;
}

#modaltitles {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
}

#modalContentTitle {
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 10px;
    color: #2d3142ff;
}

#editMode {
    text-transform: uppercase;
    font-weight: bold;
    color: red;
    display: none;
}

#modalContentArea {
    height: 100%;
    width: 100%;
    border: 0;
    cursor: default;
    height: auto;
    min-height: 400px;
}

#modalContentInputs {
    display: flex;
}

#modalContentEdit,
#modalContentSave {
    background-color: #4f5d75ff;
    cursor: pointer;
    padding: 5px;
    color: ivory;
    display: inline-block;
    margin-top: 10px;
}

    #modalContentEdit:hover,
    #modalContentSave:hover {
        background-color: #2d3142ff;
    }

#login_btn {
    background-color: rgb(11, 7, 7);
    position: absolute;
    color: ivory;
    text-transform: uppercase;
    padding: 5px;
    position: absolute;
    cursor: pointer;
    right: 0;
    top: 0;
    border-radius: 0 0 5px 5px;
    text-transform: capitalize;
    text-decoration: none;
}
